

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  } 
li {

float: left;

}

li a, .dropbtn {
display: inline-block;
color: white;
line-height: 20px;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: red;
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
/* Need to figure out how to get thing to show up before the content*/
.dropdown-content a:hover {background-color: green;}

.dropdown:hover .dropdown-content {
display: block;

}


.wrapper{
    max-width: 1200px;
    margin:auto;

}